:root {
  --text: #C7A779;
  --border-rgb: 243, 212, 132;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --gradient-gold: linear-gradient(to bottom, #C4AF93, #c8a96bff);
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
